body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #e47220;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para el contenedor de filtros */
#filter-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
    align-items: center; /* Alineación vertical */
}

#filter-container label {
    font-weight: bold;
    color: #555;
}

#filter-container input[type="text"],
#filter-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

#filter-container input[type="text"]:focus,
#filter-container select:focus {
    border-color: #e47220;
    outline: none;
    box-shadow: 0 0 5px rgba(228, 114, 32, 0.3);
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    word-break: break-word;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e47220;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background-color: #f0f0f0;
}
